<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.csr.dao.QuestionSurveyMapper">

        <!-- 开启二级缓存 -->
        <!-- 注意：默认为 flushCache="true" useCache="true" -->
        <!-- 1.自定义查询方法时，必须 flushCache="false" useCache="false"， -->
        <!-- 2.更新，添加，删除时，必须 flushCache="true" useCache="true" 或者不添加 -->
        <!-- 3.请务修改 cache-ref 中的配置 -->
        <cache-ref namespace="com.project.csr.dao.QuestionSurveyMapper"/>
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.project.csr.model.po.QuestionSurveyPo">
                <result column="id" property="id"/>
                <result column="valid_ind" property="validInd"/>
                <result column="creator" property="creator"/>
                <result column="create_time" property="createTime"/>
                <result column="updater" property="updater"/>
                <result column="update_time" property="updateTime"/>
                    <result column="channel_id" property="channelId"/>
                    <result column="series_no" property="seriesNo"/>
                    <result column="desc" property="desc"/>
                    <result column="answer1" property="answer1"/>
                    <result column="answer2" property="answer2"/>
                    <result column="answer3" property="answer3"/>
                    <result column="answer4" property="answer4"/>
                    <result column="answer5" property="answer5"/>
                    <result column="score_item" property="scoreItem"/>
                    <result column="formula" property="formula"/>
                    <result column="excellent" property="excellent"/>
                    <result column="good" property="good"/>
                    <result column="standard" property="standard"/>
                    <result column="weak" property="weak"/>
                    <result column="score_type" property="scoreType"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,
                valid_ind,
                creator,
                create_time,
                updater,
                update_time,
            channel_id, series_no, desc, answer1, answer2, answer3, answer4, answer5, score_item, formula, excellent, good, standard, weak, score_type
        </sql>

</mapper>
