<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.csr.dao.ScoreMapper">

        <!-- 开启二级缓存 -->
        <!-- 注意：默认为 flushCache="true" useCache="true" -->
        <!-- 1.自定义查询方法时，必须 flushCache="false" useCache="false"， -->
        <!-- 2.更新，添加，删除时，必须 flushCache="true" useCache="true" 或者不添加 -->
        <!-- 3.请务修改 cache-ref 中的配置 -->
        <cache-ref namespace="com.project.csr.dao.ScoreMapper"/>
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.project.csr.model.po.ScorePo">
                <result column="id" property="id"/>
                <result column="valid_ind" property="validInd"/>
                <result column="creator" property="creator"/>
                <result column="create_time" property="createTime"/>
                <result column="updater" property="updater"/>
                <result column="update_time" property="updateTime"/>
                    <result column="period" property="period"/>
                    <result column="scope_id" property="scopeId"/>
                    <result column="store_id" property="storeId"/>
                    <result column="name" property="name"/>
                    <result column="score" property="score"/>
                    <result column="rank_country" property="rankCountry"/>
                    <result column="rank_scope" property="rankScope"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,
                valid_ind,
                creator,
                create_time,
                updater,
                update_time,
            period, scope_id, store_id, name, score, rank_country, rank_scope
        </sql>

    <select id="findVoList" resultType="com.project.csr.model.vo.ScoreVo">
        SELECT current.id,
            current.period,
            current.scope_id,
            current.store_id,
            current.name,
            s.name AS store_name,
            current.score,
            current.rank_country,
            current.rank_scope,
            current.valid_ind,
            current.creator,
            current.create_time,
            current.updater,
            current.update_time,
            current.score - IFNULL(last.score, 0) AS score_diff,
            current.rank_country - last.rank_country AS rank_country_diff,
            current.rank_scope - last.rank_scope AS rank_scope_diff
        FROM store s
        LEFT JOIN score current
        ON current.store_id = s.id AND current.period = #{current_period}
        <if test="scope_id != null">
            AND current.scope_id = #{scope_id}
        </if>
        LEFT JOIN score last ON last.store_id = s.id AND last.period = #{last_period}
        WHERE 1 = 1
        <if test="store_ids != null">
            AND s.id IN
            <foreach collection="store_ids" item="store_id" index="index" open="(" close=")" separator=",">
                #{store_id}
            </foreach>
        </if>
    </select>

    <select id="findNationalVoList" resultType="com.project.csr.model.vo.ScoreVo">
        SELECT current.id,
        current.period,
        current.scope_id,
        current.store_id,
        current.name,
        "全国" AS store_name,
        current.score,
        current.rank_country,
        current.rank_scope,
        current.valid_ind,
        current.creator,
        current.create_time,
        current.updater,
        current.update_time,
        current.score - IFNULL(last.score, 0) AS score_diff,
        current.rank_country - last.rank_country AS rank_country_diff,
        current.rank_scope - last.rank_scope AS rank_scope_diff
        FROM score current
        LEFT JOIN score last ON last.store_id = current.store_id
        and last.scope_id = current.scope_id
        AND last.period = #{last_period}
        LEFT JOIN region s ON s.id = current.store_id
        WHERE current.scope_id = 2
        AND current.period = #{current_period}
        AND current.store_id IN
        <foreach collection="store_ids" item="store_id" index="index" open="(" close=")" separator=",">
            #{store_id}
        </foreach>
    </select>

    <select id="findRegionVoList" resultType="com.project.csr.model.vo.ScoreVo">
        SELECT current.id,
            current.period,
            current.scope_id,
            current.store_id,
            current.name,
            s.name AS store_name,
            current.score,
            current.rank_country,
            current.rank_scope,
            current.valid_ind,
            current.creator,
            current.create_time,
            current.updater,
            current.update_time,
            current.score - IFNULL(last.score, 0) AS score_diff,
            current.rank_country - last.rank_country AS rank_country_diff,
            current.rank_scope - last.rank_scope AS rank_scope_diff
        FROM score current
        LEFT JOIN score last ON last.store_id = current.store_id
        and last.scope_id = current.scope_id
        AND last.period = #{last_period}
        LEFT JOIN region s ON s.id = current.store_id
        WHERE current.scope_id = 2
        AND current.period = #{current_period}
        AND current.store_id IN
        <foreach collection="store_ids" item="store_id" index="index" open="(" close=")" separator=",">
            #{store_id}
        </foreach>
    </select>

    <select id="findProvinceVoList" resultType="com.project.csr.model.vo.ScoreVo">
        SELECT current.id,
            current.period,
            current.scope_id,
            current.store_id,
            current.name,
            s.name AS store_name,
            current.score,
            current.rank_country,
            current.rank_scope,
            current.valid_ind,
            current.creator,
            current.create_time,
            current.updater,
            current.update_time,
            current.score - IFNULL(last.score, 0) AS score_diff,
            current.rank_country - last.rank_country AS rank_country_diff,
            current.rank_scope - last.rank_scope AS rank_scope_diff
        FROM score current
        LEFT JOIN score last ON last.store_id = current.store_id
        and last.scope_id = current.scope_id
        AND last.period = #{last_period}
        LEFT JOIN province s ON s.id = current.store_id
        WHERE current.scope_id = 3
        AND current.period = #{current_period}
        AND current.store_id IN
        <foreach collection="store_ids" item="store_id" index="index" open="(" close=")" separator=",">
            #{store_id}
        </foreach>
    </select>

    <select id="findCityVoList" resultType="com.project.csr.model.vo.ScoreVo">
        SELECT current.id,
            current.period,
            current.scope_id,
            current.store_id,
            current.name,
            s.name AS store_name,
            current.score,
            current.rank_country,
            current.rank_scope,
            current.valid_ind,
            current.creator,
            current.create_time,
            current.updater,
            current.update_time,
            current.score - IFNULL(last.score, 0) AS score_diff,
            current.rank_country - last.rank_country AS rank_country_diff,
            current.rank_scope - last.rank_scope AS rank_scope_diff
        FROM score current
        LEFT JOIN score last ON last.store_id = current.store_id
        and last.scope_id = current.scope_id
        AND last.period = #{last_period}
        LEFT JOIN city s ON s.id = current.store_id
        WHERE current.scope_id = 3
        AND current.period = #{current_period}
        AND current.store_id IN
        <foreach collection="store_ids" item="store_id" index="index" open="(" close=")" separator=",">
            #{store_id}
        </foreach>
    </select>


    <select id="findStoreVoList" resultType="com.project.csr.model.vo.ScoreVo">
        SELECT current.id,
        current.period,
        current.scope_id,
        current.store_id,
        current.name,
        s.name AS store_name,
        current.score,
        current.rank_country,
        current.rank_scope,
        current.valid_ind,
        current.creator,
        current.create_time,
        current.updater,
        current.update_time,
        current.score - IFNULL(last.score, 0) AS score_diff,
        current.rank_country - last.rank_country AS rank_country_diff,
        current.rank_scope - last.rank_scope AS rank_scope_diff
        FROM score current
        LEFT JOIN score last ON last.store_id = current.store_id
        and last.scope_id = current.scope_id
        AND last.period = #{last_period}
        LEFT JOIN store s ON s.id = current.store_id
        WHERE current.scope_id = 5
        AND current.period = #{current_period}
        AND current.store_id IN
        <foreach collection="store_ids" item="store_id" index="index" open="(" close=")" separator=",">
            #{store_id}
        </foreach>
    </select>

</mapper>
