<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.csr.dao.ScoreFactorMapper">

    <!-- 开启二级缓存 -->
    <!-- 注意：默认为 flushCache="true" useCache="true" -->
    <!-- 1.自定义查询方法时，必须 flushCache="false" useCache="false"， -->
    <!-- 2.更新，添加，删除时，必须 flushCache="true" useCache="true" 或者不添加 -->
    <!-- 3.请务修改 cache-ref 中的配置 -->
    <cache-ref namespace="com.project.csr.dao.ScoreFactorMapper"/>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.csr.model.po.ScoreFactorPo">
        <result column="id" property="id"/>
        <result column="valid_ind" property="validInd"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="updater" property="updater"/>
        <result column="update_time" property="updateTime"/>
        <result column="period" property="period"/>
        <result column="scope_id" property="scopeId"/>
        <result column="store_code" property="storeCode"/>
        <result column="name" property="name"/>
        <result column="factor_code" property="factorCode"/>
        <result column="score" property="score"/>
        <result column="rank_country" property="rankCountry"/>
        <result column="rank_scope" property="rankScope"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        valid_ind,
        creator,
        create_time,
        updater,
        update_time,
        period, scope_id, store_code, name, factor_code, score, rank_country, rank_scope
    </sql>

    <select id="findVoList" resultType="com.project.csr.model.vo.ScoreFactorVo">
        SELECT current.id,
        current.period,
        current.scope_id,
        current.store_code,
        current.name,
        current.factor_code,
        f.name AS factor_name,
        current.score,
        current.rank_country,
        current.rank_scope,
        current.valid_ind,
        current.creator,
        current.create_time,
        current.updater,
        current.update_time,
        current.score - IFNULL(last.score,0) AS score_diff,
        IFNULL(last.rank_country, 1) - current.rank_country AS rank_country_diff,
        IFNULL(last.rank_scope, 1) - current.rank_scope AS rank_scope_diff
        FROM factor f
        LEFT JOIN score_factor current
        ON current.factor_code = f.code
        AND current.period = #{current_period}
        AND current.store_code = #{store_code}
        LEFT JOIN score_factor last
        ON last.factor_code = f.code AND last.period = #{last_period} AND last.store_code = current.store_code
        WHERE 1 = 1
        <if test="factor_code != null">
            AND f.code = #{factor_code}
        </if>
        ORDER BY f.id
    </select>

</mapper>
